<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="org.mybatis.domain.UserRole">
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="roleid" jdbcType="INTEGER" property="roleid" />
  </resultMap>

  <sql id="Base_Column_List">
    userid, roleid
  </sql>

</mapper>