<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.dao.UserDao">
    <resultMap id="BaseResultMap" type="org.mybatis.domain.User">
        <result column="userid" jdbcType="INTEGER" property="userid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <resultMap id="AdvancedResultMap" type="org.mybatis.domain.User">
        <result column="userid" jdbcType="INTEGER" property="userid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <association property="userDetail" javaType="org.mybatis.domain.UserDetail" column="userid" select="getDetail">
            <result column="userid" jdbcType="INTEGER" property="userid"/>
            <result column="address" jdbcType="VARCHAR" property="address"/>
            <result column="phone" jdbcType="VARCHAR" property="phone"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
      userid, name
    </sql>

    <select id="getUserWithDetail" resultMap="AdvancedResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM USER
    </select>

    <select id="getDetail" resultType="org.mybatis.domain.UserDetail">
      SELECT userid, address, phone FROM USER_DETAIL WHERE USERID = #{userid}
    </select>

</mapper>